version: '2'
services:

  database:
    image: postgres
    environment:
      - POSTGRES_PASSWORD=postgresql
      - POSTGRES_USER=postgresql
      - POSTGRES_DB=users
    network_mode: "bridge"

  auth:
    build: .
    image: auth-service:${VERSION}
    ports:
      - "8082:80"
    links:
      - database
    network_mode: "bridge"

  selenium:
    image: vvoyer/docker-selenium-firefox-chrome
    privileged: true
    links:
      - auth
    ports:
      - 4444:4444
      - 5999:5999 #vnc server running on localhost:5999, password: secret
    network_mode: "bridge"

networks:
  default:
    external:
      name: bridge
